{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %} Actualizar Tareas {% endblock %}</h1>
{% endblock %}

{% block content %}

    <form method="post">
        <label for="title">Titulo </label>
        <input type="text" name="title" id="title" value = "{{ request.form['title'] or task['title'] }}" required>
        <label for="description">Descripcion</label>
        <input type="text" name="description" id="description" value = "{{ request.form['description'] or task['description'] }}" required>
        <label for="completed">Completo:</label>
        <input type="checkbox" name="completed" id="completed" {% if task['completed'] == 1 %} checked {% endif %} />
        
        <input type="submit" value="Guardar Cambios" />
    </form>
    <form action="{{ url_for('todo.delete', id = task['id']) }}" method="post">
        <input type="submit" name="delete" id="delete" value="Eliminar" onclick="return confirm('Eliminar?')"/>
    </form>

{% endblock %}